<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="dbRMS_JIEntities" connectionString="metadata=res://*/DataModel.dbRMS_PB_Entity.csdl|res://*/DataModel.dbRMS_PB_Entity.ssdl|res://*/DataModel.dbRMS_PB_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AAA77KU\SQLSERVER2012;Initial Catalog=dbRMS_LAC_SIF;User ID=rmsUSER_app;Password=rm5SyS@pp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="dbCI_SAPConnectionString" connectionString="Data Source=GUSTAV-BLEBEE\SQLEXPRESS_2012;Initial Catalog=dbRMS_WASH;User ID=rmsUSER_app;Password=rm5SyS@pp;connection timeout=180" providerName="System.Data.SqlClient" />
    <add name="dbRMS_JIEntities" connectionString="metadata=res://*/DataModel.dbRMS_LAC_SIF_Entity.csdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.ssdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GUSTAV-BLEBEE\SQLEXPRESS_2012;Initial Catalog=dbRMS_WASH;User ID=rmsUSER_app;Password=rm5SyS@pp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <!--<add name="dbRMS_JIEntities" connectionString="metadata=res://*/DataModel.dbRMS_JIEntities.csdl|res://*/DataModel.dbRMS_JIEntities.ssdl|res://*/DataModel.dbRMS_JIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=104.45.158.206,1433;initial catalog=dbRMS_JI;User ID=rmsUSER_app2;Password=rm5SyS@pp;connection timeout=360000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="dbCI_SAPConnectionString" connectionString="Data Source=104.45.158.206,1433;initial catalog=dbRMS_JI;User ID=rmsUSER_app2;Password=rm5SyS@pp;connection timeout=360000" providerName="System.Data.SqlClient"/>-->
	  <!--<add name="dbRMS_JIEntities" connectionString="metadata=res://*/DataModel.dbRMS_LAC_SIF_Entity.csdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.ssdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=104.45.158.206,1433;initial catalog=dbRMS_JI;User ID=rmsUSER_app2;Password=rm5SyS@pp;connection timeout=360000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="dbCI_SAPConnectionString" connectionString="Data Source=LAPTOP-4PLAIHFG;initial catalog=dbRMS_JI_;integrated security=True;connection timeout=180" providerName="System.Data.SqlClient"/>
	  <add name="dbRMS_JIEntities" connectionString="metadata=res://*/DataModel.dbRMS_JIEntities.csdl|res://*/DataModel.dbRMS_JIEntities.ssdl|res://*/DataModel.dbRMS_JIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-4PLAIHFG\;initial catalog=dbRMS_JI_;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <!--<add name="dbCI_SAPConnectionString" connectionString="Data Source=192.168.0.8, 1433;initial catalog=dbRMS_JI;User ID=rmsUSER_app2;Password=rm5SyS@pp;connection timeout=180" providerName="System.Data.SqlClient"/>
	  <add name="dbRMS_JIEntities" connectionString="metadata=res://*/DataModel.dbRMS_LAC_SIF_Entity.csdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.ssdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.8, 1433;Initial Catalog=dbRMS_JI;User ID=rmsUSER_app2;Password=rm5SyS@pp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="dbCI_SAPConnectionString" connectionString="DESKTOP-I3PVSM6\YHONN;Initial Catalog=dbRMS_JI;integrated security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbRMS_JIEntities" connectionString="metadata=res://*/DataModel.dbRMS_LAC_SIF_Entity.csdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.ssdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GUSTAV-BLEBEE\SQLEXPRESS_2012;Initial Catalog=dbRMS_BHA;User ID=rmsUSER_app;Password=rm5SyS@pp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="dbCI_SAPConnectionString" connectionString="Data Source=DESKTOP-AAA77KU\SQLSERVER2012;Initial Catalog=dbRMS_TCA;User ID=rmsUSER_app;Password=rm5SyS@pp;connection timeout=180" providerName="System.Data.SqlClient" />
    <add name="dbRMS_JIEntities" connectionString="metadata=res://*/DataModel.dbRMS_LAC_SIF_Entity.csdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.ssdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AAA77KU\SQLSERVER2012;Initial Catalog=dbRMS_TCA;User ID=rmsUSER_app;Password=rm5SyS@pp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="dbCI_SAPConnectionString" connectionString="Data Source=DESKTOP-AAA77KU\SQLSERVER2012;Initial Catalog=dbRMS_PATI_up;User ID=rmsUSER_app;Password=rm5SyS@pp;connection timeout=180" providerName="System.Data.SqlClient" />
    <add name="dbRMS_JIEntities" connectionString="metadata=res://*/DataModel.dbRMS_LAC_SIF_Entity.csdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.ssdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AAA77KU\SQLSERVER2012;Initial Catalog=dbRMS_PATI_up;User ID=rmsUSER_app;Password=rm5SyS@pp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="dbCI_SAPConnectionString" connectionString="Data Source=bharms.southeastasia.cloudapp.azure.com,1433;Initial Catalog=dbRMS_BHA_Dev;User ID=rmsUSER_app;Password=rm5SyS@pp;connection timeout=180" providerName="System.Data.SqlClient"  />     
    <add name="dbRMS_JIEntities" connectionString="metadata=res://*/DataModel.dbRMS_LAC_SIF_Entity.csdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.ssdl|res://*/DataModel.dbRMS_LAC_SIF_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bharms.southeastasia.cloudapp.azure.com,1433;Initial Catalog=dbRMS_BHA_Dev;User ID=rmsUSER_app;Password=rm5SyS@pp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
<
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="300" maxRequestLength="1048576"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login" timeout="2880" slidingExpiration="true"/>
    </authentication>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
        <add namespace="CuteWebUI" assembly="CuteWebUI.AjaxUploader" tagPrefix="CuteWebUI"/>
      </controls>
    </pages>
    <httpModules>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
    </httpModules>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
      <remove name="ApplicationInsightsWebTracking"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImage_axd"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled"/>
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled"/>
    <add key="Telerik.Skin" value="Metro"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ftfuganda3217;AccountKey=8Vb1j9XPpub6CwH2b/k9XyCDcTMeZ4jrrnImKcySojPFHS9VZ8OEcB+dCOn2izp+B0UbixsqHbcE5wZe7RtypQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>